<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="/css/index_style.css">
</head>
<body>

<div class="auth-container">
    <button id="authButton" class="auth-button">Login</button>
    <input id="searchFild" type="text" class="search-fild" placeholder="Search..">
</div>


<div class="center_div">
    <h1>📚 Book List</h1>
    <p>Browse and rate books you have read. Login to submit ratings.</p>
</div>

<!-- This is where books will be displayed -->
<div class="book-container" id="book-list"></div>

<script src="/js/index.js"></script>


</body>
</html>
