<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="/css/recommendation_style.css">
</head>
<body>

<div class="center_div">
    <h1>📚 Recomended Books</h1>
    <p>User simmilar to you likes this books.</p>
</div>

<div id="recommendationContainer"></div>


<div class="auth-container">
    <button id="homeButton" class="home-button">🏠</button>
</div>


<!-- This is where books will be displayed -->
<div class="book-container" id="book-list"></div>

<script src="/js/recommendation.js"></script>


</body>
</html>
